* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f1bb8f;
}

header {
    color :#2660A4;
    background-color: rgb(236, 139, 69);
    padding-left: 20px;
    top: 0;
    height: 100px;
    display: flex;
    align-items: center;
}

main {
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

input {
    
}