* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CSS Variables assign to root*/
:root {
  --body-background-color: #fbe0c3;
  --header-background-color: #344648;;
  --white: white;
  --black: black;
  --card-box: #7D8e95;
  --blue: rgb(2, 0, 138);

}
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--body-background-color);
}

header {
  background-color: var(--header-background-color);
  color: var(--white);
  top: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling for all the card containers */
.container {
  background-color: var(--card-box);
  box-shadow: 0 0 10px 2px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 20px;
}

.attraction-checkbox {
  width: 170px;
  height: 130px;
  border-radius: 10px;
  box-shadow: 0 5px 5px var(--black);;
  background: var(--white);
  transition: transform 0.15s;
  justify-content: space-evenly;
  align-items: center;
}

.attraction-checkbox:first-of-type {
  margin-bottom: 10px;
  margin-right: 10px;
}

.attraction-checkbox:active {
  transform: scale(0.9);
}

input {
  display: none;
}

input:checked + label {
  opacity: 1;
  box-shadow: 0 0 0 3px var(--white);
}

input:checked + label img {
  -webkit-filter: none;
  filter: none;
}

input:checked + label .checkbox-cover {
  opacity: 1;
  transform: scale(1);
}

input:checked + label .checkbox-cover svg {
  stroke-dashoffset: 0;
}

label {
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.6;
}

label img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  clip-path: polygon(0% 0%, 100% 0, 100% 81%, 50% 100%, 0 81%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

label .checkbox-cover {
  position: absolute;
  right: 5px;
  top: 3px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--text-color);
  border: 2px solid var(--blue);
  transition: transform 0.15s, opacity calc(0.15s * 1.2) linear;
  opacity: 0;
  transform: scale(0);
}

label .checkbox-cover svg {
  width: 13px;
  height: 11px;
  display: inline-block;
  vertical-align: top;
  fill: none;
  margin: 5px 0 0 3px;
  stroke: var(--blue);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  transition: stroke-dashoffset 0.4s ease 0.15s;
  stroke-dashoffset: 16px;
}

label .attraction {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

label .attraction-detail {
    text-align: center;
    font-weight: 600;
    font-size: 8px;
}

div a {
    display: flex;
    justify-content: center;
    color: var(--black);
    font-weight: 600;
    font-size: 15px;
}

button {
    margin-left: 48%;
}
/*Styling for MAP*/

#map {
  height: 600px;
  width: 100%;
}

#attraction-box {
  height: 300px;
}


